@media all and (min-width:1281px) and (max-width:1920px) {
    body{
        background-color: white;
        overflow-x: hidden;
    }
    .wrap{
        width: 1920px;
        height: 100vh; 
        position: relative;
    }
    /* 상단이벤트창 */
    .event{
        width: 100vw; height: 30px;
        background-color: black;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        padding-top: 5px;
        position: fixed; top: 0; left: 50%;
        transform: translate(-50%, 0);
        z-index: 10;
    }
    .event .slide{
        position: absolute;
        width: 100%; height: 100%;
        transition: transform 0.5s ease;
    }
    .envet .active{
        transform: translateY(0);
    }
    .slide:not(.active) {
        transform: translateY(-100%);
    }
    /* 네비게이션 왼쪽 */
    header{
        width: 100vw; height: 60px;
        /* margin: 0 auto; */
        background-color: #ffffff;
        display: flex;
        z-index: 10;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        position: fixed; top: 30px; left: 50%;
        transform: translate(-50%, 0);
    }
    .nav1 , .nav2{
        display: flex;
    }
    .nav1 .gnb{
        display: flex;
        margin-top: 30px;
        margin-left: 20px;
    }
    .nav1 .gnb a{
        display: block;
        width: 80px; height: 50px;
        font-size: 13px;
    }
    .nav1 .submenu{
        display: none;
        background-color: #ffffff;
        width: 350px; height: 330px;
        padding: 20px;
        padding-left: 40px;
        position: absolute; 
        left: 0px; top: 60px;
        text-align: left;
    }
    .nav1 .submenu a{
        width: 160px;
        height: 50px;
    }
    .nav1 .subShop{
        height: 380px;
    }
    /* 로고이미지 */
    header .logo{
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    header .logo img{
        width: 40px;
    }
    header .logo img:nth-child(2) {
        display: none;
    }
    /* 네비게이션 오른쪽 */
    .nav2 .gnb{
        display: flex;
        margin-top: 30px;
    }
    .nav2 .gnb a{
        display: block;
        width: 80px; height: 50px;
        align-items : center;
        font-size: 13px;
    }
    .nav2 .gnb .sub4>a{
        width: 80px;
        margin-right: 20px;
    }
    .nav2 .gnb .sub4 a img{
        width: 25px;
    }
    .mobileNav2, .mobileNav{
        display: none;
    }
    .mobilemenu {
        display: none;
    }
    /* 로그인 클릭기능 */
    .login{
        width: 500px; height: 100vh;
        position: fixed; right: 0px; top: 0;
        z-index: 10;
        background-color: white;
        display: none;
    }
    .login .signtxt{
        margin-top: 20vw;
    }
    .login h2{
        font-size: 18px;
        font-weight: normal;
        padding: 30px 50px;
        display: block;
    }
    .login .cls_login{
        width: 25px;
        position: absolute; top: 30px; right: 30px;
        float: right;
        cursor: pointer;
    }
    .login ul {
        display: flex;
        margin: 2vw 10%;
    }
    .login ul li {
        font-size: 12px;
        text-decoration: underline;
        margin-right: 1vw;
    }
    .login div {
        display: block;
        font-size: 12px;
        cursor: pointer;
        margin: 0 auto;
        margin-bottom: 1vw;
    }
    .login .grp_div {
        display: flex;
        width: 80%;
    }
    .login .grp_div>div{
        width: 49%; 
        background-color: black;
        color: white;
        padding: 15px;
        margin: 0;
        text-align: center;
    }
    .login .grp_div>div:nth-child(1) {
        margin-right: 2%;
    }
    .login .border{
        width: 80%; 
        border: 1px solid black;
        color: black;
        padding: 15px;
    }
    .login .black{
        width: 80%; 
        background-color: black;
        color: white;
        padding: 15px;
    }
    .login div>img {
        float: right;
    }
    /* 장바구니 클릭기능 */
    .bag{
        width: 500px; height: 100vh;
        position: fixed; right: 0px; top: 0;
        z-index: 10;
        background-color: white;
        display: none;
    }
    .bag h2{
        font-size: 20px;
        font-weight: normal;
        padding: 30px 50px;
        display: block;
    }
    .bag img{
        width: 25px;
        position: absolute; top: 30px; right: 30px;
        float: right;
        cursor: pointer;
    }
    .bag span{
        display: block;
        padding: 50px;
        font-size: 13px;
    }
    .bag button{
        position: absolute;
        top: 300px; left: 50%;
        transform: translate(-50%, 0);
        border: none;
        border-radius: 5px;
        background-color: black;
        color: white;
        padding: 15px 80px;
        font-size: 12px;
        cursor: pointer;
    }
    /* 언어선택 호버기능 */
    .nav2 .gnb .sub4 ul{
        display: none;
    }
    .nav2 .gnb .sub4:hover .lang_choice{
        display: flex;
    }
    .lang_choice {
        width: 400px; height: 100vh;
        background-color: white;
        position: absolute; right: 0; top: 60px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .lang_choice li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-right: 20px;
    }
    .lang_choice li a {
        padding: 20px 15px;
        margin-right: 10px;
        text-align: right;
        font-size: 13px;
    }
    .lang_choice>li>img {
        width: 25px;
    }
    /* 검색버튼 클릭 창 */
    .modal{
        width: 100%; height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed; top: 0; right: 0;
        z-index: 10;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .modal hr{
        width: 350px; height: 1px;
        border: none;
        background-color: #ffffff;
        position: fixed; top: 55%; left: 50%;
        transform: translate(-50%, 0);
    }
    .modal span{
        text-align: center;
        font-size: 13px;
        position: fixed; top: 60%; left: 50%;
        transform: translate(-50%, 0);
        color: #ffffff;
    }
    .close {
        width: 40px;
        cursor: pointer;
        position: absolute; right: 100px; top: 100px;
    }
    /* 메인비주얼 */
    .visual{
        width: 1980px; height: 50vw;
        position: relative;
        z-index: 0;
        margin-top: 90px;
        overflow: hidden;
    }
    .visual .slider{
        width: 100vw;
    }
    .visual .slide-img{
        display: flex;
        position: relative;
    }
    .visual .slide-img img{
        width: 1920px; height: auto;
    }
    .visual .slide-img span{
        position: absolute; top: 30%; left: 40%;
        font-size: 20px;
        color: white;
    }
    /* 섹션1 */
    .sec1{
        width: 100vw; height: 55vw;
        padding: 6vw 0;
    }
    .sec1 h2{
        font-size: 25px;
        font-weight: bold;
        margin: 0vw 12vw;
        margin-bottom: 4vw;
    }
    .sec1 .middle{
        position: relative;
        width: 80%; height: 22vw;
        margin-bottom: 1vw;
        margin: 0 auto;
    }
    .sec1 .item{
        width: 100%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        font-size: 11px;
    }
    .sec1 .item ul {
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    .sec1 .item li {
        width: 20vw;
        height: 20vw;
    }
    .sec1 .item li img{
        width: 100%;
        display: block;
        margin-bottom: 2vw;
        transition: width 0.5s ease;
        transform-origin: center;
    }
    .sec1 .item li:nth-child(1){
        width: 30vw; height: 30vw;
        font-size: 17px;
    }
    .sec1 .item .first img{
        width: 100%;
    }
    .sec1 .item li:hover {
        font-size: 17px;
    }
    .sec1 .item li:hover{
        width: 30vw; height: 30vw;
        transition: width 0.5s ease;
    }
    .sec1 .ipad_list {
        display: none;
        width: 100%;
        position: absolute; 
        margin: 0 auto;
        align-items: center;
        text-align: center;
        font-size: 11px;
    }
    .sec1 .ipad_list ul {
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    .sec1 .ipad_list li {
        width: 20vw;
        height: 20vw;
    }
    .sec1 .ipad_list li img{
        width: 100%;
        display: block;
        margin-bottom: 2vw;
        transition: width 0.5s ease;
        transform-origin: center;
    }
    .sec1 .ipad_list li:nth-child(1){
        width: 30vw; height: 30vw;
        font-size: 17px;
    }
    .sec1 .ipad_list .first img{
        width: 100%;
    }
    .sec1 .ipad_list li:hover {
        font-size: 17px;
    }
    .sec1 .ipad_list li:hover{
        width: 30vw; height: 30vw;
        transition: width 0.5s ease;
    }

    .sec1 .prev{
        width: 60px; height: 60px;
        background-color: rgba(255, 255, 255, 0);
        border: none; 
        border-radius: 10px;
        padding: 5px 13px;
        position: absolute; left: -3vw; top: 15vw;
    }
    .sec1 .prev img, .next img{
        width: 40px;
    }
    .sec1 .next{
        width: 60px; height: 60px;
        background-color: rgba(255, 255, 255, 0);
        border: none; 
        border-radius: 10px;
        padding-top: 5px;
        position: absolute; right: -3vw; top: 15vw;
    }
    /* 섹션2 */
    .sec2{
        width: 100vw; height: 35vw;
        position: relative;
    }
    .sec2 .img1{
        width: 40vw; height: 35vw;
        float: left;
    }
    .sec2 .squar {
        position: absolute; top: 1.5vw; left: 38vw;
        width: 45vw; height: 32vw;
        border: 1px solid black;
    }
    .sec2 .frame{
        width: 60vw; height: 35vw;
        position: relative;
        float: right;
    }
    .sec2 .frame h2 {
        width: 17vw;
        padding: 10px;
        background-color: white;
        text-align: center;
    }
    .sec2 .imgGroup {
        width: 100%; height: 80%;
    }
    .sec2 .imgGroup div{
        padding-left: 5.5vw;
        margin-bottom: 1vw;
        float: left;
        cursor: pointer;
        justify-items: center;
    }
    .sec2 .imgGroup div img{
        width: 6vw;
    }
    .sec2 .imgGroup div span{
        display: block;
        text-align: center;
        font-size: 10px;
        width: 7vw;
    }
    .sec2 .imgGroup .one {
        width: 70%;
        height: 100%;
        padding-left: 1.5vw;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        float: left;
    }
    .sec2 .imgGroup .one img{
        width: 25vw;
    }
    .sec2 .imgGroup .one span{
        font-size: 15px;
        width: 13vw;
        padding-left: 3vw;
    }

    /* .sec2 .prev{
        width: 60px; height: 60px;
        background-color: rgba(255, 255, 255, 0);
        border: none; 
        border-radius: 10px;
        padding: 5px 13px;
        position: absolute; left: 41vw; top: 15.5vw;
    } */
    .sec2 .prev img, .sec2 .next img{
        width: 25px;
    }
    .sec2 #next2{
        width: 140px; height: 50px;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid black; 
        /* border-radius: 5px; */
        padding-top: 5px;
        cursor: pointer;
        position: absolute; left: 70vw; top: 20vw;
    }
    .sec2 #next {
        display: none;
    }

    /* 섹션 3 */
    .sec3{
        width: 100vw; height: 50vw;
        display: block;
        padding: 2vw 0;
    }
    .sec3 .product{
        width: 100%; height: 6vw;
        display: grid;
        place-content: center;
        margin-top: 3vw;
    }
    .sec3 .product ul{
        display: flex;
    }
    .sec3 .product a{
        display: block;
        font-size: 18px;
        font-weight: bold;
        padding: 20px 20px;
        border-radius: 5px;
        margin: 0px 20px;
    }
    .sec3 .product a:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }
    .sec3 .imgblock{
        width: 100%; height: auto;
        position: relative;
        display: flex;
        margin-top: 3vw;
    }
    .sec3 .capitem{
        width: 50%; height: auto;
        position: relative;
    }
    .sec3 .outeritem{
        width: 50%; height: auto;
        position: relative;
    }
    .sec3 .capitem img{
        width: 80%;
        position: absolute; top: 0; right: 0;
    }
    .sec3 .outeritem img {
        width: 80%;
    }
    /* 푸터 */
    footer{
        width: 100vw; height: 125px;
        margin-top: 1vw;
        display: block;
        background-color: #eee;
    }
    footer ul{
        width: 100vw; height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer ul li a{
        font-size: 13px;
        margin-right: 30px;
    }
    footer ul li a:hover{
        text-decoration-line: underline;
    }
    footer span{
        display: block;
        text-align: center;
        font-size: 13px;
    }
    
    /* 플로팅버튼 */
    .floating {
        position: fixed; right: 20px; bottom: 20px;
        z-index: 10;
        width: 50px;
        height: 50px;
    }
    
    .floating .quick {
        position: absolute;
        z-index: 1;
    }
    
    .floating .quick img {
        cursor: pointer;
        width: 50px;
        height: auto;  /* 이미지의 비율 유지 */
        border-radius: 20px;
    }
    
    .quicksos {
        transform-origin: bottom;
        position: absolute;
        bottom: 0;
        right: 0;
        display: none;
    }
    .group{
        width: 400px;
        height: 710px;
        border-radius: 30px;
        overflow: hidden;
        background-color: #f6f6f6;
        color: white;
        box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.4);
        position: fixed; bottom: 90px; right: 20px;
    }
    .floating .quicksos .nom{
        width: 400px;
    }
    .floating .quicksos .group div{
        float: left;
        color: #333;
        font-size: 13px;
        text-align: center;
    }
    .cls_chat{
        width: 60px; height: 60px;
        background-color: #f6f6f6;
        border-radius: 20px;
        padding: 15px;
        box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.4);
        position: fixed; bottom: 20px; right: 20px;
    }
    .cls_chat img{
        width: 30px;
    }
}