*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    color: white;
    font-family: 'Pretendard-Regular';
}
body{
    background-color: black;
    overflow: hidden;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    /* font-weight: 400;
    font-style: normal; */
}

.wrap {
    display: flex;
    transition: 1s ease;;
    background-color: black;
    position: relative;
}

.main, .project_nomanual {
    display: block;
    width: 100%; height: 100vh;
}
/* main 스타일 */
.main {
    display: block;
    position: relative;
    z-index: 1;
    left: 0; top: 0;
}
.title h2 {
    font-size: 1.875rem;
    padding: 1.5%;
    display: block;
    font-weight: 700;
}
.title h2 span {
    font-weight: 300;
    font-size: 1.875rem;
    color: white;
}
/* 헤더 텍스트 스타일 */
.main .explain {
    position: relative; z-index: 1;
}
.main .explain h1 {
    font-size: 3rem;
    font-weight: 900;
    display: block;
    padding: 1% 3%;
}
.main .explain span {
    font-size: 1.125rem;
    color: #c9c9c9;
    margin-right: 2%;
}
.main .explain .span2 {
    padding-left: 3%;
}
.main .explain p {
    font-size: 1.25rem;
    padding-left: 3%;
    padding-top: 1.5%;
    display: block;
}
.main .explain ul li{
    display: flex;
    margin-bottom: 3%;
    margin-left: 3%;
    cursor: pointer;
    align-items: center;
}
.main .explain ul li:nth-child(1){
    margin-top: 5%;
}
.main .explain ul li a {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    display: block;
    width: 100px;
    color: #808080;
}
.main .explain ul li a:hover {
    color: white;
}
.main .explain ul li a:hover + img{
    visibility: visible;
}
.main .explain ul li img {
    width: 1%; height: 1%;
    visibility: hidden;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

/* 상단우측 배경이미지  */
.bg_img {
    position: absolute; top: 0; right: 0;
    z-index: 1;
    width: 50%; height: auto;
    display: inline-block;
}
.bg_img div{
    position: absolute;
}
.image-container1{
    width: 100%;
    height: 300px;
    display: none;
    background-image: url('img/main/nomanual_main.png'); /* 이미지 URL */
    background-size: cover;
    mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.06) 55%, rgba(0, 0, 0, 0) 100%);
    /* -webkit- 사파리에서도 보이게하려면 mask-image앞에 추가 */
}
.image-container2{
    width: 100%;
    height: 300px;
    display: none;
    background-image: url('img/main/nomanual_main.png'); /* 이미지 URL */
    background-size: cover;
    mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.06) 55%, rgba(0, 0, 0, 0) 100%);
    /* -webkit- 사파리에서도 보이게하려면 mask-image앞에 추가 */
}
.image-container3{
    width: 100%;
    height: 300px;
    display: none;
    background-image: url('img/main/nomanual_main.png'); /* 이미지 URL */
    background-size: cover;
    mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.06) 55%, rgba(0, 0, 0, 0) 100%);
    /* -webkit- 사파리에서도 보이게하려면 mask-image앞에 추가 */
}
.image-container4{
    width: 100%;
    height: 300px;
    display: none;
    background-image: url('img/main/nomanual_main.png'); /* 이미지 URL */
    background-size: cover;
    mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.06) 55%, rgba(0, 0, 0, 0) 100%);
    /* -webkit- 사파리에서도 보이게하려면 mask-image앞에 추가 */
}

/* 메인컨텐츠요소 스타일 */
.container article {
    width: 100vw; height: 100vh;
    display: block;
    position: relative;  
}
.container .blind {
    position: absolute; top: 0; left: 0;
}
.container .contents {
    position: absolute; top: 0; left: 0;
}
.container article .project1, .project2, .project3, .project4{
    position: absolute; bottom: -1%;
    width: 16.5vw; height: 26.5vw;
    background-color: black;
    border-top-left-radius: 10px; border-top-right-radius: 10px;
    transition: all 0.6s;
    cursor: pointer;
}
/* 프로젝트 1 */
.project1 {
    left: 26%;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 2;
}
.project1:hover{
    width: 19vw !important; 
    height: 29vw !important;
    left: 23%;
    outline: 5px solid rgb(255, 255, 255);
}
.project1:hover .project_img{
    opacity: 50%;
}
.project1 img{
    width: 100%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.project1 .sec_txt1 {
    position: absolute; 
    text-align: center;
    display: none;
}
.project1:hover .hidden_num1 {
    left: -7.5vw; bottom: 0;
}
.hidden_num1{
    width: 7.5vw ;height: 18.5vw;
    position: absolute; bottom: 0%; left: 0%;
    z-index: -1;
    transition: all 0.4s;
}
.hidden_num1 img{
    width: 7.5vw; height: 18.5vw;
}
/* 프로젝트2 */
.project2 {
    left: 44%;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 4;
}
.project2:hover {
    width: 19vw;
    height: 29vw;
    left: 41%;
    outline: 5px solid rgb(255, 255, 255);
}
.project2:hover .project_img{
    opacity: 50%;
}
.project2 img{
    width: 100%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.project2 .sec_txt2 {
    position: absolute; 
    text-align: center;
    display: none;
}
.project2:hover .hidden_num2 {
    left: -11.2vw; bottom: 0;
}
.hidden_num2{
    width: 11.2vw ;height: 18.5vw;
    position: absolute; bottom: 0%; left: 0%;
    z-index: -1;
    transition: all 0.4s;
}
.hidden_num2 img{
    width: 11.2vw; height: 18.5vw;
}
/* 프로젝트3 */
.project3 {
    left: 62%;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 6;
}
.project3:hover {
    width: 19vw;
    height: 29vw;
    left: 59%;
    outline: 5px solid rgb(255, 255, 255);
}
.project3:hover .project_img{
    opacity: 50%;
}
.project3 img{
    width: 100%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.project3 .sec_txt3 {
    position: absolute; 
    text-align: center;
    display: none;
}
.project3:hover .hidden_num3 {
    left: -11.3vw; bottom: 0;
}
.hidden_num3{
    width: 11.3vw; height: 18.5vw;
    position: absolute; bottom: 0%; left: 0%;
    z-index: -1;
    transition: all 0.4s;
}
.hidden_num3 img{
    width: 11.3vw; height: 18.5vw;
}
/* 프로젝트4 */
.project4 {
    left: 80%;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 8;
}
.project4:hover {
    width: 19vw;
    height: 29vw;
    left: 77%;
    outline: 5px solid rgb(255, 255, 255);
}
.project4:hover .project_img{
    opacity: 50%;
}
.project4 img{
    width: 100%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.project4 .sec_txt4 {
    position: absolute; 
    text-align: center;
    display: none;
}
.project4:hover .hidden_num4 {
    left: -11.5vw; bottom: 0;
}
.hidden_num4{
    width: 11.5vw ;height: 18.5vw;
    position: absolute; bottom: 0%; left: 0%;
    z-index: -1;
    transition: all 0.4s;
}
.hidden_num4 img{
    width: 11.5vw; height: 18.5vw;
}

/* project nomanual 스타일 */
.project_nomanual {
    position: relative; top: 0; left: 100%;
    display: none;
    width: 100vw; height: 100vh;
}
.title, .header, .txt_container {
    position: relative;
}
.title h2 {
    font-size: 1.875rem;
    padding: 1.5%;
    display: block;
    font-weight: 700;
}
.title h2 span {
    font-weight: 300;
    font-size: 1.875rem;
    color: white;
}
/* 헤더 텍스트 스타일 */
.project_nomanual .header {
    position: relative;
}
.project_nomanual .header h1 {
    font-size: 3rem;
    font-weight: 900;
    display: block;
    padding: 1% 3%;
}
.project_nomanual .header span {
    font-size: 1.125rem;
    color: #c9c9c9;
    margin-right: 2%;
}
.project_nomanual .header .span2 {
    padding-left: 3%;
}
.project_nomanual .header #backBtn {
    position: absolute; bottom: 3vw; right: 10vw;
    font-size: 1.125rem;
    color: white;
    background-color: black;
    margin-left: 15%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.project_nomanual .header p {
    font-size: 1.25rem;
    padding-left: 3%;
    padding-top: 1.5%;
    display: block;
}
.project_nomanual .header ul{
    position: absolute; top: -2.5vw; right: 38%;
    display: flex;
    cursor: pointer;
    align-items: center;
    z-index: 10;
}
.project_nomanual .header ul li:nth-child(1) a{
    color: white;
}
.project_nomanual .header ul li {
    margin-left: 55%;
}
.project_nomanual .header ul li a {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    display: block;
    width: 100px;
    color: #808080;
}
.txt_container {
    width: 25vw; height: 60vh;
    display: block;
    height: auto;
    padding: 3%;
}
.txt_container ul {
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.txt_container ul li {
    line-height: 1.8;
    font-size: 1rem;
}
.txt_container button {
    width: 13vw; height: 4vw;
    border-radius: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    cursor: pointer;
}
.mobile {
    width: 25vw; height: 10vh;
}
.mobile img {
    position: absolute; bottom: 8vw; left: 3vw;
    width: 5vw; height: 5vw;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
}
.mobile span {
    font-size: 1rem;
    position: absolute; bottom: 6vw; left: 3vw;
}
.nomanual_container .mac_book {
    width: 55vw; height: 40vw;
    position: absolute; bottom: 5vw; right: 5vw;
    z-index: 2;
    pointer-events: none;
}
.nomanual_container .mac_ver {
    width: 91vw; height: 64vw;
    position: absolute; bottom: -6vw; right: -13%;
    z-index: 1;
    background-color: white;
}
.nomanual_container .iphone {
    width: 14vw;
    position: absolute; bottom: 4vw; right: 50vw;
    z-index: 3;
    pointer-events: none;
}
.nomanual_container .iphone_ver {
    width: 24.8vw; height: 54vw;
    position: absolute; bottom: -8.5vw; right: 44.5vw;
    z-index: 2;
    overflow: hidden;
    border-radius: 50px;

}
/* about 스타일 */
.about {
    display: none;
    position: relative;
}
.title h2 {
    font-size: 1.875rem;
    padding: 1.5%;
    display: block;
    font-weight: 700;
}
.title h2 span {
    font-weight: 300;
    font-size: 1.875rem;
    color: white;
}
/* 헤더 텍스트 스타일 */
.about .header h1 {
    font-size: 3rem;
    font-weight: 900;
    display: block;
    padding: 1% 3%;
}
.about .header span {
    font-size: 1.125rem;
    color: #c9c9c9;
    margin-right: 2%;
}
.about .header .span2 {
    padding-left: 3%;
}
.about .header p {
    font-size: 1.25rem;
    padding-left: 3%;
    padding-top: 1.5%;
    display: block;
}
.about .header ul{
    position: absolute; top: 20%; right: 40%;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.about .header ul li:nth-child(2) a{
    color: white;
}
.about .header ul li {
    margin-left: 55%;
}
.about .header ul li a {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    display: block;
    width: 100px;
    color: #808080;
}