*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    color: white;
    font-family: 'Pretendard-Regular';
}
body{
    background-color: black;
    overflow: hidden;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    /* font-weight: 400;
    font-style: normal; */
}

.video-container {
    width: 100vw; height: 100vh;
    object-fit: cover; 
    position: fixed; top: 0; left: 0;
    z-index: 1000;
}

.wrap_box{
    background-color: black;
    position: relative;
    width: 100%; height: 100vh;
    overflow: hidden;
}
.horizontal-slider {
    display: flex;
    width: 100%; height: 100%;
    transition: transform 1s ease-in-out;
    flex-direction: row;
    position: relative;
}
.wrap{
    width: 100%; height: 100%;
    transition: transform 1s ease-in-out;
    flex-direction: column;
    display: block;
}
.horizontal-slider > div {
    width: 100%; /* 기본 크기 */
    flex-shrink: 0; /* 슬라이드 크기가 줄어들지 않도록 */
}
.wrap > div {
    height: 100%; /* 세로 슬라이드의 기본 크기 */
}
.main, .project_nomanual {
    display: block;
    width: 100%; height: 100vh;
}

iframe {
    border: none;
}
/* main 스타일 */
.main {
    display: block;
    z-index: 1;
    width: 100vw; height: 100vh;
    /* position: relative; top: 0; left: 0; */
}
.title {
    width: 30vw; height: auto;
    margin: 1.5vw;
    cursor: pointer;
}
.title h2 {
    font-size: 1.875rem;
    /* padding: 1.5%; */
    display: block;
    font-weight: 700;
}
.title h2 span {
    font-weight: 300;
    font-size: 1.875rem;
    color: white;
}
/* 헤더 텍스트 스타일 */
.explain {
    width: 30vw; height: auto;
    margin-left: 3vw;
    position: relative; z-index: 1;
}
.explain h1 {
    font-size: 3rem;
    font-weight: 900;
    display: block;
    margin-bottom: 1.5vw;
}
.explain span {
    font-size: 1.125rem;
    color: #c9c9c9;
    margin-right: 2vw;
}
.explain p {
    font-size: 1rem;
    margin-top: 1.5vw;
    display: block;
    margin-bottom: 6vw;
    line-height: 1.5;
}
.main .explain ul {
    position: relative;
    bottom: -10vw; left: 0vw;
}
.main .explain ul li{
    display: flex;
    margin-bottom: 6vw;
    cursor: pointer;
    align-items: center;
}
.main .explain ul li a {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    display: block;
    color: #808080;
    margin-right: 2vw;
}
.main .explain ul li a:hover {
    color: white;
}
.main .explain ul li a:hover + img{
    visibility: visible;
}
.main .explain ul li img {
    width: 1vw; height: 1vw;
    text-align: right;
    visibility: hidden;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

/* 상단우측 배경이미지  */
.container .blind {
    position: absolute; top: 0; left: 0;
}
.bg_img {
    position: absolute; top: 0; right: 0;
    z-index: 1;
    width: 65%; height: auto;
    display: inline-block;
}
.bg_img div{
    position: absolute;
}
.image-container1{
    width: 100%;
    height: 400px;
    display: none;
    background-image: url('img/main/nomanual_screen.png'); /* 이미지 URL */
    background-size: cover;
    mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.03) 47%, rgba(0, 0, 0, 0) 100%);
    /* -webkit- 사파리에서도 보이게하려면 mask-image앞에 추가 */
}
.image-container2{
    width: 100%;
    height: 400px;
    display: none;
    background-image: url('img/main/ikea_screen.png'); /* 이미지 URL */
    background-size: cover;
    mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.03) 47%, rgba(0, 0, 0, 0) 100%);
    /* -webkit- 사파리에서도 보이게하려면 mask-image앞에 추가 */
}
.image-container3{
    width: 100%;
    height: 400px;
    display: none;
    background-image: url('img/main/nomanual_screen.png'); /* 이미지 URL */
    background-size: cover;
    mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.03) 47%, rgba(0, 0, 0, 0) 100%);
    /* -webkit- 사파리에서도 보이게하려면 mask-image앞에 추가 */
}
.image-container4{
    width: 100%;
    height: 400px;
    display: none;
    background-image: url('img/main/nomanual_screen.png'); /* 이미지 URL */
    background-size: cover;
    mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.03) 47%, rgba(0, 0, 0, 0) 100%);
    /* -webkit- 사파리에서도 보이게하려면 mask-image앞에 추가 */
}

/* 메인컨텐츠요소 스타일 */
.container article {
    width: 100%; height: 100%;
    display: block;
    position: relative;  
}
.container .contents {
    position: absolute; top: 0; left: 0;
}
.container article .project1, .project2, .project3, .project4{
    position: absolute; bottom: -1%;
    width: 16.5vw; height: 26.5vw;
    background-color: black;
    border-top-left-radius: 10px; border-top-right-radius: 10px;
    transition: all 0.6s;
    cursor: pointer;
}
/* 프로젝트 1 */
.project1 {
    left: 26%;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 2;
}
.project1:hover{
    width: 19vw !important; 
    height: 29vw !important;
    left: 23%;
    outline: 5px solid rgb(255, 255, 255);
}
.project1:hover .project_img{
    opacity: 50%;
}
.project1 img{
    width: 100%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.project1 .sec_txt1 {
    position: absolute; 
    text-align: center;
    display: none;
}
.project1:hover .hidden_num1 {
    left: -7.5vw; bottom: 0;
}
.hidden_num1{
    width: 7.5vw ;height: 18.5vw;
    position: absolute; bottom: 0%; left: 0%;
    z-index: -1;
    transition: all 0.4s;
}
.hidden_num1 img{
    width: 7.5vw; height: 18.5vw;
}
/* 프로젝트2 */
.project2 {
    left: 44%;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 4;
}
.project2:hover {
    width: 19vw;
    height: 29vw;
    left: 41%;
    outline: 5px solid rgb(255, 255, 255);
}
.project2:hover .project_img{
    opacity: 50%;
}
.project2 img{
    width: 100%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.project2 .sec_txt2 {
    position: absolute; 
    text-align: center;
    display: none;
}
.project2:hover .hidden_num2 {
    left: -11.2vw; bottom: 0;
}
.hidden_num2{
    width: 11.2vw ;height: 18.5vw;
    position: absolute; bottom: 0%; left: 0%;
    z-index: -1;
    transition: all 0.4s;
}
.hidden_num2 img{
    width: 11.2vw; height: 18.5vw;
}
/* 프로젝트3 */
.project3 {
    left: 62%;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 6;
}
.project3:hover {
    width: 19vw;
    height: 29vw;
    left: 59%;
    outline: 5px solid rgb(255, 255, 255);
}
.project3:hover .project_img{
    opacity: 50%;
}
.project3 img{
    width: 100%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.project3 .sec_txt3 {
    position: absolute; 
    text-align: center;
    display: none;
}
.project3:hover .hidden_num3 {
    left: -11.3vw; bottom: 0;
}
.hidden_num3{
    width: 11.3vw; height: 18.5vw;
    position: absolute; bottom: 0%; left: 0%;
    z-index: -1;
    transition: all 0.4s;
}
.hidden_num3 img{
    width: 11.3vw; height: 18.5vw;
}
/* 프로젝트4 */
.project4 {
    left: 80%;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 8;
}
.project4:hover {
    width: 19vw;
    height: 29vw;
    left: 77%;
    outline: 5px solid rgb(255, 255, 255);
}
.project4:hover .project_img{
    opacity: 50%;
}
.project4 img{
    width: 100%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.project4 .sec_txt4 {
    position: absolute; 
    text-align: center;
    display: none;
}
.project4:hover .hidden_num4 {
    left: -11.5vw; bottom: 0;
}
.hidden_num4{
    width: 11.5vw ;height: 18.5vw;
    position: absolute; bottom: 0%; left: 0%;
    z-index: -1;
    transition: all 0.4s;
}
.hidden_num4 img{
    width: 11.5vw; height: 18.5vw;
}



/* project 
    nomanual 
    스타일 */
.project_nomanual {
    position: fixed; top: 0; 
    left: 100vw;
    width: 100vw; height: 100vh;
}
/* 헤더 텍스트 스타일 */
.back {
    position: absolute; top: 5.5vw; left: 1.3vw;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    width: 48px; height: 48px;
}
.project_nomanual .explain {
    width: 35vw; height: auto;
    margin-left: 5vw;
    position: relative;
}
.project_nomanual .explain .link_out_nomanual {
    font-size: 3rem;
    font-weight: 900;
    margin-right: 0;
    color: white;
    cursor: pointer;
}
.project_nomanual .explain .link_out_nomanual:hover {
    color: red;
}
.project_nomanual .explain p {
    margin-bottom: 5vw;
}
.project_nomanual .gnb{
    height: 3vw;
    position: absolute; top: 3vw; left: 40vw;
    cursor: pointer;
    align-items: center;
    z-index: 10;
}
.project_nomanual .gnb>ul{
    display: flex;
}
.project_nomanual .gnb li:nth-child(1) a{
    color: white;
}
.project_nomanual .gnb li {
    margin-left: 55%;
}
.project_nomanual .gnb li a {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    display: block;
    width: 100px;
    color: #808080;
}
.project_nomanual .gnb:hover .submenu,
.project_nomanual .submenu:hover {
    display: block;
}
.project_nomanual .submenu {
    position: absolute; top: 3vw; right: 38%;
    display: none;
    cursor: pointer;
    z-index: 10;
}
.project_nomanual .submenu li a{
    display: block;
    background-color: #000000;
    width: 200px; height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

#viewSiteBtn {
    width: 13vw; height: 4vw;
    border-radius: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5vw;
}
.mobile {
    width: 25vw; height: 10vh;
}
.mobile img {
    position: absolute; bottom: 8vw; left: 5vw;
    width: 5vw; height: 5vw;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
}
.mobile span {
    font-size: 1rem;
    position: absolute; bottom: 6vw; left: 5vw;
}
.nomanual_container .mac_book {
    width: 55vw; height: 40vw;
    position: absolute; bottom: 5vw; right: 5vw;
    z-index: 2;
    pointer-events: none;
}
.nomanual_container .mac_ver {
    width: 91vw; height: 64vw;
    position: absolute; bottom: -6vw; right: -13%;
    z-index: 1;
    background-color: white;
}
.nomanual_container .iphone {
    width: 14vw;
    position: absolute; bottom: 4vw; right: 50vw;
    z-index: 3;
    pointer-events: none;
}
.nomanual_container .iphone_ver {
    width: 24.8vw; height: 54vw;
    position: absolute; bottom: -8.5vw; right: 44.5vw;
    z-index: 2;
    overflow: hidden;
    border-radius: 50px;
    background-color: white;
}

/* project 
    ikea 
    스타일 */
.project_ikea {
    position: fixed; top: 0; 
    left: 200vw;
    width: 100vw; height: 100vh;
}
/* 헤더 텍스트 스타일 */
.project_ikea .explain {
    width: 35vw; height: auto;
    margin-left: 5vw;
    position: relative;
}
.project_ikea .explain .link_out_ikea {
    font-size: 3rem;
    font-weight: 900;
    margin-right: 0;
    color: white;
    cursor: pointer;
}
.project_ikea .explain .link_out_ikea:hover {
    color: red;
}
.project_ikea .explain p {
    margin-bottom: 5vw;
}
.project_ikea .gnb{
    height: 3vw;
    position: absolute; top: 3vw; left: 40vw;
    cursor: pointer;
    align-items: center;
    z-index: 10;
}
.project_ikea .gnb>ul{
    display: flex;
}
.project_ikea .gnb li:nth-child(1) a{
    color: white;
}
.project_ikea .gnb li {
    margin-left: 55%;
}
.project_ikea .gnb li a {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    display: block;
    width: 100px;
    color: #808080;
}
.project_ikea .gnb:hover .submenu,
.project_ikea .submenu:hover {
    display: block;
}
.project_ikea .submenu {
    position: absolute; top: 3vw; right: 38%;
    display: none;
    cursor: pointer;
    z-index: 10;
}
.project_ikea .submenu li a{
    display: block;
    background-color: #000000;
    width: 200px; height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}
#viewSiteBtn2 {
    width: 13vw; height: 4vw;
    border-radius: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5vw;
}
.ikea_container .mac_book {
    width: 55vw; height: 40vw;
    position: absolute; bottom: 5vw; right: 5vw;
    z-index: 2;
    pointer-events: none;
}
.ikea_container .mac_ver {
    width: 117vw; height: 81vw;
    position: absolute; bottom: -14.5vw; right: -26%;
    border-radius: 20px;
    z-index: 1;
    background-color: white;
}
.ikea_container .iphone {
    width: 14vw;
    position: absolute; bottom: 4vw; right: 50vw;
    z-index: 3;
    pointer-events: none;
}
.ikea_container .iphone_ver {
    width: 24.8vw; height: 54vw;
    position: absolute; bottom: -8.5vw; right: 44.5vw;
    z-index: 2;
    overflow: hidden;
    border-radius: 50px;
    background-color: white;
}


/* project
    add 
    스타일 */
.project_add {
    position: fixed; top: 0; 
    left: 300vw;
    width: 100vw; height: 100vh;
}
/* 헤더 텍스트 스타일 */
.project_add .explain {
    width: 35vw; height: auto;
    margin-left: 5vw;
    position: relative;
}
.project_add .explain p {
    margin-bottom: 5vw;
}
.project_add .gnb{
    height: 3vw;
    position: absolute; top: -3vw; left: 40vw;
    cursor: pointer;
    align-items: center;
    z-index: 10;
}
.project_add .gnb>ul{
    display: flex;
}
.project_add .gnb li:nth-child(1) a{
    color: white;
}
.project_add .gnb li {
    margin-left: 55%;
}
.project_add .gnb li a {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    display: block;
    width: 100px;
    color: #808080;
}
.project_add .gnb:hover .submenu,
.project_add .submenu:hover {
    display: block;
}
.project_add .submenu {
    position: absolute; top: 3vw; right: 38%;
    display: none;
    cursor: pointer;
    z-index: 10;
}
.project_add .submenu li a{
    display: block;
    background-color: #000000;
    width: 200px; height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}
#viewSiteBtn3 {
    width: 13vw; height: 4vw;
    border-radius: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5vw;
}
.add_container .mac_book {
    width: 55vw; height: 40vw;
    position: absolute; bottom: 5vw; right: 5vw;
    z-index: 2;
    pointer-events: none;
}
.add_container .mac_ver {
    width: 117vw; height: 81vw;
    position: absolute; bottom: -14.5vw; right: -26%;
    border-radius: 20px;
    z-index: 1;
    background-color: white;
}
.add_container .iphone {
    width: 14vw;
    position: absolute; bottom: 4vw; right: 50vw;
    z-index: 3;
    pointer-events: none;
}
.add_container .iphone_ver {
    width: 24.8vw; height: 54vw;
    position: absolute; bottom: -8.5vw; right: 44.5vw;
    z-index: 2;
    overflow: hidden;
    border-radius: 50px;
    background-color: white;
}

/* about 스타일 */
.about {
    width: 100vw; height: 100vh;
    position: fixed; top: 100vh; left: 0;
}
/* 헤더 텍스트 스타일 */
.about .explain {
    width: 40vw; height: auto;
    margin-left: 3vw;
    position: relative;
}
.about .explain p {
    margin-bottom: 5vw;
    font-size: 1rem;
}
.about .explain .gnb{
    position: absolute; top: -3vw; left: 40vw;
    display: flex;
    cursor: pointer;
    align-items: center;
    z-index: 10;
}
.about .explain .gnb li:nth-child(2) a{
    color: white;
}
.about .explain .gnb li {
    margin-left: 55%;
}
.about .explain .gnb li a {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    display: block;
    width: 100px;
    color: #808080;
}
.about .explain .gnb:hover .submenu{
    display: block;
}
.about .explain .submenu {
    position: absolute; top: 3vw; right: 38%;
    display: none;
    cursor: pointer;
    z-index: 10;
}
.about .explain .submenu li a{
    display: block;
    background-color: #000000;
    width: 200px; height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}
.about_container {
    display: flex;
}
.about_container .profile {
    width: 20vw; height: 55vh;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5vw 8vw;
    text-align: center;
    font-size: 0.9rem;
    line-height: 2;
}
.about_container .profile div {
    margin: 10%;
    width: 80%; height: 50%;
    background-color: white;
    border-radius: 10px;
}
.about_container .profile h2 {
    font-size: 1.2rem;
}